@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-hover: var(--hover);
  --color-highlight: var(--highlight);

  --color-succes-01: var(--succes-01);
  --color-succes-02: var(--succes-02);
  --color-succes-03: var(--succes-03);

  --color-warning-01: var(--warning-01);
  --color-warning-02: var(--warning-02);
  --color-warning-03: var(--warning-03);

  --color-error-01: var(--error-01);
  --color-error-02: var(--error-02);
  --color-error-03: var(--error-03);

  --color-bl-01: var(--bl-01);
  --color-bl-02: var(--bl-02);
  --color-bl-03: var(--bl-03);
  --color-bl-04: var(--bl-04);
  --color-bl-05: var(--bl-05);
  --color-bl-06: var(--bl-06);
  --color-bl-07: var(--bl-07);
  --color-bl-08: var(--bl-08);
  --color-bl-09: var(--bl-09);
  --color-bl-10: var(--bl-10);

  --color-br-01: var(--br-01);
  --color-br-02: var(--br-02);
  --color-br-03: var(--br-03);
  --color-br-04: var(--br-04);
  --color-br-05: var(--br-05);
  --color-br-06: var(--br-06);
  --color-br-07: var(--br-07);
  --color-br-08: var(--br-08);
  --color-br-09: var(--br-09);
  --color-br-10: var(--br-10);  

  --color-gr-01: var(--gr-01);
  --color-gr-02: var(--gr-02);
  --color-gr-03: var(--gr-03);
  --color-gr-04: var(--gr-04);
  --color-gr-05: var(--gr-05);
  --color-gr-06: var(--gr-06);
  --color-gr-07: var(--gr-07);
  --color-gr-08: var(--gr-08);
  --color-gr-09: var(--gr-09);
  --color-gr-10: var(--gr-10);

  --color-red-01: var(--red-01);
  --color-red-02: var(--red-02);
  --color-red-03: var(--red-03);
  --color-red-04: var(--red-04);
  --color-red-05: var(--red-05);
  --color-red-06: var(--red-06);
  --color-red-07: var(--red-07);
  --color-red-08: var(--red-08);
  --color-red-09: var(--red-09);
  --color-red-10: var(--red-10);

  --color-or-01: var(--or-01);
  --color-or-02: var(--or-02);
  --color-or-03: var(--or-03);
  --color-or-04: var(--or-04);
  --color-or-05: var(--or-05);
  --color-or-06: var(--or-06);
  --color-or-07: var(--or-07);
  --color-or-08: var(--or-08);
  --color-or-09: var(--or-09);
  --color-or-10: var(--or-10);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
}

:root {
  --primary: #005CBF;
  --secondary: #007BFF;
  --hover: #E6F2FF;

  --highlight: #FFAE00;

  --succes-01: #00A429;
  --succes-02: #00C532;
  --succes-03: #B0F4C1;

  --warning-01: #E66800;
  --warning-02: #FF7300;
  --warning-03: #FFD4B0;
  
  --error-01: #BF2600;
  --error-02: #FF3300;
  --error-03: #FFE0D9;

  --bl-01: #E6F2FF;
  --bl-02: #D9EBFF;
  --bl-03: #B0D6FF;
  --bl-04: #007BFF;
  --bl-05: #006FE6;
  --bl-06: #0062CC;
  --bl-07: #005CBF;
  --bl-08: #004A99;
  --bl-09: #003773;
  --bl-10: #002B59;

  --br-01: #FFF7E6;
  --br-02: #FFF3D9;
  --br-03: #FFE6B0;
  --br-04: #FFAE00;
  --br-05: #E69D00;
  --br-06: #CC8B00;
  --br-07: #BF8300;
  --br-08: #996800;
  --br-09: #734E00;
  --br-10: #734E00;

  --red-01: #FFEBE6;
  --red-02: #ffe0d9;
  --red-03: #FFC0B0;
  --red-04: #FF3300;
  --red-05: #E62E00;
  --red-06: #CC2900;
  --red-07: #BF2600;
  --red-08: #991F00;
  --red-09: #731700;
  --red-10: #591200;

  --gr-01: #E6FBEB;
  --gr-02: #D9FAE1;
  --gr-03: #B0F4C1;
  --gr-04: #00DB37;
  --gr-05: #00C532;
  --gr-06: #00AF2C;
  --gr-07: #00A429;
  --gr-08: #008321;
  --gr-09: #006319;
  --gr-10: #004D13;

  --or-01: #FFF1E6;
  --or-02: #FFEAD9;
  --or-03: #FFD4B0;
  --or-04: #FF7300;
  --or-05: #E66800;
  --or-06: #CC5C00;
  --or-07: #BF5600;
  --or-08: #994500;
  --or-09: #733400;
  --or-10: #592800;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 -0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-poppins);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-poppins);
    margin: 0;
  }
}

@layer components {
  .mycontainer { @apply container mx-auto max-w-7xl w-full md:px-12 lg:px-16 xl:px-18 py-8;}

  .h1-regular { @apply text-[56px] leading-[72px] font-normal; }
  .h1-semibold { @apply text-[56px] leading-[72px] font-semibold; }
  .h1-bold { @apply text-[56px] leading-[72px] font-bold; }

  .h2-regular { @apply text-[40px] leading-[56px] font-normal; }
  .h2-semibold { @apply text-[40px] leading-[56px] font-semibold; }
  .h2-bold { @apply text-[40px] leading-[56px] font-bold; }

  .h3-regular { @apply text-[32px] leading-[44px] font-normal; }
  .h3-semibold { @apply text-[32px] leading-[44px] font-semibold; }
  .h3-bold { @apply text-[32px] leading-[44px] font-bold; }

  .title-regular { @apply text-[20px] leading-[28px] font-normal; }
  .title-semibold { @apply text-[20px] leading-[28px] font-semibold; }
  .title-bold { @apply text-[20px] leading-[28px] font-bold; }

  .body-regular { @apply text-[18px] leading-[28px] font-normal; }
  .body-semibold { @apply text-[18px] leading-[28px] font-semibold; }
  .body-bold { @apply text-[18px] leading-[28px] font-bold; }

  .caption-regular { @apply text-[14px] leading-[20px] font-normal; }
  .caption-semibold { @apply text-[14px] leading-[20px] font-semibold; }
  .caption-bold { @apply text-[14px] leading-[20px] font-bold; }

}